body{

  font-family:verdana,serif,sans-serif;
  background-color: #E6E6E6    ;
  }
h1	{
  margin:10px auto auto auto;
  text-align:center;
  font-size:430%;
  font-family: 'Cinzel Decorative', cursive;
  text-transform:uppercase;
  text-color:#14279B ;
  text-decoration:underline;
  text-shadow: 7px 2px 3px  #3D56B2 ;
}
h3{
  font-family: 'Cinzel Decorative', cursive;
  color: #14279B
}
.par  {
  text-align:center;
  font-family: 'Amarante', cursive;
  color: #14279B   ;
  text-transform:uppercase;
  font-size:150%;
  font-weight:bold;
  text-shadow: 2px 2px 3px #3D56B2;


}
#pad {
  margin:auto 32% auto 38%;
  border:4px solid #14279B  ;
  padding:1.6%;
  width:21.4%;
  height:28%;
  background-color: #9FAFDF   ;
  float:left;
  display:inline;
  border-radius: 20px;

  }
.button{
  border:3px solid  #000080 ;
  width:60px;
  height:60px;
  margin:3%;
  background-color:3D56B2 ;
  color:#5C7AEA;
  font-size:28px;
  border-radius: 15px;

}
.button:hover{
      border-color:3D56B2;
      font-size:30px;
      color:#14279B;
  }
.button:active{
    border:8px solid  #000080 ;


  }
#New {
    font-size:300%;
    font-weight:bold;
    margin-right:11%;
    color:  #000080 ;
    float:right;
    background-color:#B0E0E6 ;
    border:2px solid blue;
    border-radius: 32px;
    padding: 10px;
    font-family: 'Cormorant SC', serif;
    }
#stopwatch{
      font-size:300%;
      font-weight:bold;
      color: #000080 ;
      margin-left:14%;
      float:left;
      width:17%;
      border-radius: 32px;
      padding: 10px;
      font-family: 'Cinzel Decorative', cursive;
    }
#New:hover{
      border:4px solid #14279B;
      color: #red;

}
#yourscore{

    font-size:120%;
    color: red ;
    text-align:center;
    }
.bs{
    float:right;
    width=200px;
    height:50px;
    text-align:center;
    color:#000080;
    font-weight:bold;
    font-size:120%;
    background-color:#B0E0E6;
    border:2px solid blue;
    border-radius: 32px;
    margin: 10px;
    font-family: 'Cinzel Decorative', cursive;
    }

.bs:hover{
      border:4px solid #14279B;
      color:#14279B;
      }
#demo{
    float:right;
    font-size:120%;
    color:red;
    text-shadow: 2px 2px 3px #000000;

  }
#stp{
   float: left;
    width=200px;
    height:50px;
    text-align:center;
    color:#000080;
    font-weight:bold;
    font-size:120%;
    background-color:#B0E0E6;
    border:2px solid blue;
    border-radius: 32px;
    margin: 10px;
    margin-left: 20px;
    font-family: 'Cinzel Decorative', cursive;
    }


             #stp:hover{
      border:4px solid #14279B;
      color: #14279B;
      }
#pot{
                            float: left;
    width=200px;
    height:50px;
    text-align:center;
    color:#000080;
    font-weight:bold;
    font-size:120%;
    background-color:#B0E0E6;
    border:2px solid blue;
    border-radius: 32px;
    margin: 10px;
    font-family: 'Cinzel Decorative', cursive;
    }
    #pot:hover{
border:4px solid #14279B;
color: #14279B;
}
  #tit{ text-align:center;
                 color:white;
                padding:18%;}
